In [1]:
# importing neccessary libraries and modules
import pandas as pd
import numpy as np
import os
import statistics as st
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
# checking current directory
os.getcwd()

'C:\\Users\\EMJOE\\Documents\\Workstation'

In [4]:
# changing directory to sanbox folder
os.chdir('C:/sandbox/')

In [5]:
# confirming the directory has been changed to sandbox folder
os.getcwd()

'C:\\sandbox'

In [6]:
# loading my dataset to pandas dataframe
df = pd.read_csv('diabetes_null.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,5,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,4.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,11.0,76.0,48.0,18.0,32.9,0.171,63,0
764,2,122.0,7.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,3,0
766,1,126.0,6.0,NaN,NaN,3.1,0.349,47,1
767,1,93.0,7.0,31.0,NaN,3.4,0.315,23,0

In [9]:
# visually inspecting 10 random samples in my dataset
df.sample(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
565,2,95.0,54.0,14.0,88.0,26.1,0.748,22,0
98,6,93.0,5.0,3.0,64.0,28.7,0.356,23,0
55,1,73.0,5.0,1.0,NaN,23.0,0.248,21,0
663,9,145.0,8.0,46.0,13.0,37.9,0.637,4,1
654,1,16.0,7.0,28.0,135.0,34.2,0.142,22,0
325,1,157.0,72.0,21.0,168.0,25.6,0.123,24,0
196,1,15.0,58.0,NaN,NaN,24.3,0.187,21,0
267,2,128.0,64.0,42.0,NaN,4.0,1.110,24,0
50,1,13.0,8.0,11.0,82.0,19.4,0.491,22,0
33,6,92.0,92.0,NaN,NaN,19.9,0.188,28,0

In [10]:
# inspecting the structure of my data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   763 non-null    float64
 2   BloodPressure             733 non-null    float64
 3   SkinThickness             541 non-null    float64
 4   Insulin                   394 non-null    float64
 5   BMI                       757 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 54.1 KB

Observations:
    I. That the dataset contains 768 rows and 9 features
    2. That all features are numeric
    3. That 5 features (Glucose, BloodPressure, SkinThickness, Insulin & BMI) contains missing values

In [27]:
# getting a summary information about my data
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Pregnancies,768.0,3.845052,3.369578,0.0,1.00000,3.0000,6.0000,17.00
Glucose,763.0,99.310616,55.115381,1.0,72.50000,113.0000,138.0000,199.00
BloodPressure,733.0,55.706685,29.878852,1.0,16.00000,66.0000,76.0000,122.00
SkinThickness,541.0,25.876155,12.967816,1.0,18.00000,27.0000,35.0000,99.00
Insulin,394.0,105.659898,116.862508,1.0,21.00000,71.0000,151.0000,846.00
BMI,757.0,29.865654,10.686049,2.0,25.40000,32.0000,36.1000,67.10
DiabetesPedigreeFunction,768.0,0.490439,0.346050,0.1,0.25375,0.3825,0.6475,2.42
Age,768.0,30.990885,13.281475,3.0,23.00000,28.0000,38.2500,81.00
Outcome,768.0,0.348958,0.476951,0.0,0.00000,0.0000,1.0000,1.00

In [8]:
# getting the total number of empty cells in my data
df.isna().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

Obervations when I used isna and sum function to check total number of empty cells for each feature:
    1. That Glucose feature ontains contains 5 missing values
    2. That BloodPressure feature contains contains 35 missing values
    3. That SkinThickness feature contains contains 227 missing values
    4. That Insulin feature contains contains 374 missing values
    5. That BMI feature contains contains 11 missing values
    6. That Insulin feature contains highest number of missing cells followed by skin thickness feature

In [17]:
# getting the mean value of bloodpressure feature
mean = df.BloodPressure.mean()
mean
# not important in this instance

55.70668485675307

In [28]:
# getting the median value of bloodpressure feature which will be used to replace the empty cells in the bloodpressure feature
BpMedian = df.BloodPressure.median()
BpMedian

66.0

In [36]:
# checking for duplicates rows in the data
df[df.duplicated()]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [25]:
# checking the cells of selected features for duplicates
dupRows = df[df.duplicated(['Glucose','BloodPressure','BMI'])]
dupRows
# not important in this instance

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
654,1,16.0,7.0,28.0,135.0,34.2,0.142,22,0
725,4,112.0,78.0,4.0,NaN,39.4,0.236,38,0

In [29]:
# replacing the empty cells in bloodpressure features with the median value
df['BloodPressure'].fillna(BpMedian, inplace=True)

In [30]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,5,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,4.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,11.0,76.0,48.0,18.0,32.9,0.171,63,0
764,2,122.0,7.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,3,0
766,1,126.0,6.0,NaN,NaN,3.1,0.349,47,1
767,1,93.0,7.0,31.0,NaN,3.4,0.315,23,0

In [31]:
# confirming if the replacement was successful done in the main data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   763 non-null    float64
 2   BloodPressure             768 non-null    float64
 3   SkinThickness             541 non-null    float64
 4   Insulin                   394 non-null    float64
 5   BMI                       757 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 54.1 KB

In [39]:
# getting the median value of skin thickness feature which will be used to replace the empty cells in the bloodpressure feature
SkinMedian = df.SkinThickness.median()
SkinMedian

27.0

In [40]:
# replacing the empty cells in skin thickness features with the median value
df['SkinThickness'].fillna(SkinMedian, inplace=True)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,5,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,27.0,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,4.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,11.0,76.0,48.0,18.0,32.9,0.171,63,0
764,2,122.0,7.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,3,0
766,1,126.0,6.0,27.0,NaN,3.1,0.349,47,1
767,1,93.0,7.0,31.0,NaN,3.4,0.315,23,0

In [41]:
# confirming if the replacement was successful done in the main data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   763 non-null    float64
 2   BloodPressure             768 non-null    float64
 3   SkinThickness             768 non-null    float64
 4   Insulin                   394 non-null    float64
 5   BMI                       757 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 54.1 KB

In [42]:
# replacing the empty cells in glulcose features with the median value of glucose
df['Glucose'].fillna(df['Glucose'].median(), inplace=True)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,5,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,27.0,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,4.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,11.0,76.0,48.0,18.0,32.9,0.171,63,0
764,2,122.0,7.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,3,0
766,1,126.0,6.0,27.0,NaN,3.1,0.349,47,1
767,1,93.0,7.0,31.0,NaN,3.4,0.315,23,0

In [43]:
# confirming if the replacement was successful done in the main data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    float64
 2   BloodPressure             768 non-null    float64
 3   SkinThickness             768 non-null    float64
 4   Insulin                   394 non-null    float64
 5   BMI                       757 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 54.1 KB

In [44]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Pregnancies,768.0,3.845052,3.369578,0.0,1.00000,3.0000,6.0000,17.00
Glucose,768.0,99.399740,54.946487,1.0,73.00000,113.0000,138.0000,199.00
BloodPressure,768.0,56.175781,29.268110,1.0,45.50000,66.0000,76.0000,122.00
SkinThickness,768.0,26.208333,10.893024,1.0,22.00000,27.0000,32.0000,99.00
Insulin,394.0,105.659898,116.862508,1.0,21.00000,71.0000,151.0000,846.00
BMI,757.0,29.865654,10.686049,2.0,25.40000,32.0000,36.1000,67.10
DiabetesPedigreeFunction,768.0,0.490439,0.346050,0.1,0.25375,0.3825,0.6475,2.42
Age,768.0,30.990885,13.281475,3.0,23.00000,28.0000,38.2500,81.00
Outcome,768.0,0.348958,0.476951,0.0,0.00000,0.0000,1.0000,1.00

In [45]:
# replacing the empty cells in insulin features with the median value of insulin
df['Insulin'].fillna(df['Insulin'].median(), inplace=True)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,71.0,33.6,0.627,5,1
1,1,85.0,66.0,29.0,71.0,26.6,0.351,31,0
2,8,183.0,64.0,27.0,71.0,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,4.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,11.0,76.0,48.0,18.0,32.9,0.171,63,0
764,2,122.0,7.0,27.0,71.0,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,3,0
766,1,126.0,6.0,27.0,71.0,3.1,0.349,47,1
767,1,93.0,7.0,31.0,71.0,3.4,0.315,23,0

In [46]:
# replacing the empty cells in BMI features with the median value of BMI
df['BMI'].fillna(df['BMI'].median(), inplace=True)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,71.0,33.6,0.627,5,1
1,1,85.0,66.0,29.0,71.0,26.6,0.351,31,0
2,8,183.0,64.0,27.0,71.0,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,4.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,11.0,76.0,48.0,18.0,32.9,0.171,63,0
764,2,122.0,7.0,27.0,71.0,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,3,0
766,1,126.0,6.0,27.0,71.0,3.1,0.349,47,1
767,1,93.0,7.0,31.0,71.0,3.4,0.315,23,0

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    float64
 2   BloodPressure             768 non-null    float64
 3   SkinThickness             768 non-null    float64
 4   Insulin                   768 non-null    float64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 54.1 KB

In [49]:
# checking again to know if all missing values has been succesfully filled
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [50]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Pregnancies,768.0,3.845052,3.369578,0.0,1.00000,3.0000,6.0000,17.00
Glucose,768.0,99.399740,54.946487,1.0,73.00000,113.0000,138.0000,199.00
BloodPressure,768.0,56.175781,29.268110,1.0,45.50000,66.0000,76.0000,122.00
SkinThickness,768.0,26.208333,10.893024,1.0,22.00000,27.0000,32.0000,99.00
Insulin,768.0,88.781250,85.428861,1.0,66.75000,71.0000,73.2500,846.00
BMI,768.0,29.896224,10.612180,2.0,25.57500,32.0000,35.9250,67.10
DiabetesPedigreeFunction,768.0,0.490439,0.346050,0.1,0.25375,0.3825,0.6475,2.42
Age,768.0,30.990885,13.281475,3.0,23.00000,28.0000,38.2500,81.00
Outcome,768.0,0.348958,0.476951,0.0,0.00000,0.0000,1.0000,1.00

In [51]:
# checking for duplicate rows again after filling in missing values with their respective median values
# no duplicate rows was found
df[df.duplicated()]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

Conlusion:
    All features with missing values were filled with their respectives median values